apps/api/node_modules/
node_modules/

dist/
*.tsbuildinfo

logs/
*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.local
.env.*.local
!.env.example

coverage/
lcov-report/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

docker-data/
**/docker-data/
**/*.pid

*.bson
*.json.gz
dump/
